@font-face {
    font-family: 'andes';
    src: url('fonts/andes_regular-webfont.eot');
    src: url('fonts/andes_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andes_regular-webfont.woff2') format('woff2'),
         url('fonts/andes_regular-webfont.woff') format('woff'),
         url('fonts/andes_regular-webfont.ttf') format('truetype'),
         url('fonts/andes_regular-webfont.svg#andesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'andes', Arial, sans-serif;
}