$comic-color: rgba(255,210,70,0.5);
$comic-color-hover: rgba(220,179,72,0.7);
$music-color: rgba(227,243,243,0.5);
$music-color-hover: rgba(185,185,155,0.7);
$webdev-color: rgba(224,242,162,0.5);
$webdev-color-hover: rgba(205,191,137,0.7);
$comic-color-text:#8f7a43;
$music-color-text:#7e7e74;
$webdev-color-text:#867d5b;